<h1 style="color:white;margin-top:100px;margin-left:19px;font-size:90px"><%=@member.username%></h1>
<div class="rank ml-5">
  <h2 style=color:white;margin-right:150px;>Current rank: </h2>
  <div class="percentage">
    <div>
      <h2 id=kyu-level class=text></h2>
    </div>
    <div class=percent>
      <svg>
        <circle cx=70 cy=70 r=70></circle>
        <circle id=stroke cx=70 cy=70 r=70></circle>
      </svg>
      <div class=number id=inner-text>
        <h2>0<span>%</span></h2>
      </div>
    </div >
  </div>
</div>
<div class="ml-5 d-flex flex-row">
  <h2 style=color:white;margin-right:130px; class=mt-5 >Completed Katas: </h2>
  <h2 style=color:white;margin-right:130px; class=mt-5><%=@member.completed_katas%></h2>
</div>


<div id=percentage style=color:transparent;height:1px;width:1px;><%=@percentage%></div>
<div id=kyu style=color:transparent;height:1px;width:1px;><%=@kyu%></div>
<div id=color style=color:transparent;height:1px;width:1px;><%=@color%></div>

<script>

var clicker = document.getElementById("btnx")
var percent = document.getElementById("stroke")
var inner_text = document.getElementById("inner-text")
var progress = document.getElementById("percentage")
var kyu = document.getElementById("kyu")
var kyuLevel = document.getElementById("kyu-level")


var x = (440 - (440 * progress.innerHTML) / 100 );

window.addEventListener("load", changePercentage())

function changePercentage() {
  percent.setAttribute("style", `stroke-dashoffset: ${x};`);
  inner_text.innerHTML = `<h2>${progress.innerHTML}<span>%</span></h2>`
  kyuLevel.innerHTML = kyu.innerHTML
}


</script>
